################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/OpenWorld/v15/Server/sqlite3

/OpenWorld/bin/
/OpenWorld/obj/

/OpenWorld.Data/bin
/OpenWorld.Data/obj


/OpenWorld.Services/bin
/OpenWorld.Services/obj

.suo
/.vs/OpenWorld/v15/*.suo
/OpenWorld/obj/Debug/netcoreapp2.1/OpenWorld.assets.cache
/OpenWorld.Services/obj/Debug/netstandard2.0/OpenWorld.Services.assets.cache
